<div class="row">

    <h1>Consultas Registradas</h1>
  
    <div class="card">
      <div class="card-header">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a href="/home/paciente" class="btn btn-success"><i class="fas fa-home"></i> Inicio</a>
          </div>
        </nav>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive">
        <table class="table table-hover" *ngIf="consultas.length > 0">
          <thead>
            <tr>
                <th>Fecha Exámen</th>
                <th>SubjetivoLejosDerecho</th>
                <th>SubjetivoLejosIzquierdo</th>
                <th>Ver</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let consulta of consultas">
              <th>{{consulta.fechaModificacion | date:'dd-MMMM-yyyy'}}</th>
              <th>{{consulta.subLejDer}}</th>
              <th>{{consulta.subLejIzq}}</th>
              <th>
                <button type="submit" class="btn btn-success btn-lg"
                  [routerLink]="['/home/consulta/view/',consulta.idConsulta]"><i class="fas fa-search"></i>Ver</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  
  </div>