<p>datosconsulta.component.html</p>
<div class="row">
    <div class="col text-start">
        <a href="/home/paciente" class="btn btn-success"><i class="fas fa-home"></i> Inicio</a>
    </div>
    <div class="col text-end">
        <a type="submit" class="btn btn-warning btn-lg" [routerLink]="['/home/consulta/edit',consulta.idConsulta]"><i
                class="fas fa-user-edit"></i> Editar</a>
    </div>

</div>

<div class="row">
    <div class="col">
        <h1>Paciente: {{paciente.nombres}} {{paciente.primerApellido}} {{paciente.segundoApellido}}</h1>
        <h1>{{consulta.fechaModificacion | date:'dd-MMMM-yyyy'}}</h1>
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table id="tablePacientes"
                class="table align-middle table-bordered text-nowrap table-head-fixed table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>DERECHO</th>
                        <th>IZQUIERDO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AUTOREFACTRÓMETRO</td>
                        <td>
                            <h1>
                                {{consulta.totalDer >= 0 ? '+' + consulta.totalDer : consulta.totalDer |
                                number:'1.2-2' :'en-US'}}
                                =
                                {{consulta.totalAstigDer >= 0 ? '+' + consulta.totalAstigDer : consulta.totalAstigDer
                                |
                                number:'1.2-2' :'en-US'}}
                                X
                                {{consulta.totalAngDer}}°
                            </h1>
                        </td>
                        <td>
                            <h1>
                                {{consulta.totalIzq >= 0 ? '+' + consulta.totalIzq : consulta.totalIzq |
                                number:'1.2-2' :'en-US'}}
                                =
                                {{consulta.totalAstigIzq >= 0 ? '+' + consulta.totalAstigIzq : consulta.totalAstigIzq
                                |
                                number:'1.2-2' :'en-US'}}
                                X
                                {{consulta.totalAngIzq}}°
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>SUBJETIVO LEJOS</td>
                        <td>
                            <h1>


                                {{consulta.subLejDer >= 0 ? '+' + consulta.subLejDer : consulta.subLejDer |
                                number:'1.2-2' :'en-US'}}
                                =
                                {{consulta.subLejAstigDer >= 0 ? '+' + consulta.subLejAstigDer : consulta.subLejAstigDer
                                |
                                number:'1.2-2'
                                :'en-US'}}
                                X
                                {{consulta.subLejAngDer}}°
                            </h1>
                        </td>
                        <td>
                            <h1>


                                {{consulta.subLejIzq >= 0 ? '+' + consulta.subLejIzq : consulta.subLejIzq |
                                number:'1.2-2' :'en-US'}}
                                =
                                {{consulta.subLejAstigIzq >= 0 ? '+' + consulta.subLejAstigIzq : consulta.subLejAstigIzq
                                |
                                number:'1.2-2'
                                :'en-US'}}
                                X
                                {{consulta.subLejAngIzq}}°
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>ADICIÓN</td>
                        <td>
                            <h1>
                                {{consulta.addDer >= 0 ? '+' + consulta.addDer : consulta.addDer |
                                number:'1.2-2' :'en-US'}}

                            </h1>
                        </td>
                        <td>
                            <h1>

                                {{consulta.addIzq >= 0 ? '+' + consulta.addIzq : consulta.addIzq |
                                number:'1.2-2' :'en-US'}}

                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>AGUDEZA VISUAL</td>
                        <td>
                            <h1>
                                {{consulta.avderSnellen}}
                            </h1>
                        </td>
                        <td>
                            <h1>


                                {{consulta.avizqSnellen}}
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>DISTANCIA INTERPUPILAR</td>
                        <td>
                            <h1>
                                {{consulta.dip}}mm
                            </h1>
                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <h1>
            RX: {{consulta.rx}}
        </h1>
    </div>
</div>