<h1>Roles de Sistema</h1>

<div>
  <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/roles/form']">Nuevo Rol</button>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">IDRol</th>
        <th scope="col">Rol</th>
        <th scope="col">Fecha Creacion</th>
        <th scope="col">Fecha Modificacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rol of roles">
        <th>{{rol.idRol}}</th>
        <th>{{rol.rol}}</th>
        <th>{{rol.fechaCreacion}}</th>
        <th>{{rol.fechaModificacion}}</th>
      </tr>
    </tbody>
  </table>