<h1>APP Usuario</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th>{{usuario.idUsuario}}</th>
        <th>{{usuario.nombre}}</th>
        <th>{{usuario.apellidoPaterno}}</th>
        <th>{{usuario.email}}</th>
        <th>{{usuario.fechaCreacion}}</th>
      </tr>
    </tbody>
  </table>