<div>
    <form>
        <div class="form-floating col-2">
            <input placeholder="Escribe el rol" type="text" class="form-control" id="rol" name="rol" [(ngModel)]="rol.rol">
            <label for="rol">Escribe el rol</label>
        </div>
        <button type="submit" class="btn btn-success" (click)='crearRol()'
            *ngIf="!rol.id; else elseBlock">Crear</button>
        <ng-template #elseBlock>
            <button type="submit" class="btn btn-primary" (click)='actualizarRol()'>Actualizar</button>
        </ng-template>
    </form>
</div>