<p>roles.component.html</p>
<div class="row">
  <div class="row">

    <h1>Roles de Sistema</h1>

  </div>
  <div class="row ">
    <div class="col text-start">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/admin/rol/form']">Nuevo Rol</button>
    </div>

  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table align-middle table-hover" *ngIf="roles.length > 0">
        <thead>
          <tr>
            <th scope="col">Rol</th>
            <th scope="col">Creado</th>
            <th scope="col">Modificado</th>
            <th scope="col">Creado Por</th>
            <th scope="col">Modificado Por</th>
            <th scope="col">Acciones</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let rol of roles">
            <th>{{rol.rol}}</th>
            <th>{{rol.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</th>
            <th>{{rol.modifiedAt | date:'dd/MM/yyyy HH:mm:ss'}}</th>
            <th>{{rol.createdBy}}</th>
            <th>{{rol.modifiedBy}}</th>
            <th>
              <button type="submit" class="btn btn-primary" [routerLink]="['/admin/rol/form',rol.idRol]">Editar</button>
            </th>
            <th>
              <button type="submit" class="btn btn-danger" (click)='eliminarRol(rol)'>Eliminar</button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>



  </div>

</div>