<p>partiturasupload.component.html</p>
<div class="row">
    <div class="col text-start">
        <a href="/admin/obra" class="btn btn-success"><i class="fas fa-home"></i> Inicio</a>
    </div>
    <div class="col text-end">
        <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                class="fa-solid fa-guitar"></i> Nuevo Instrumento</button>
    </div>

</div>

<div class="row">
    <div class="col" *ngIf="obra">
        <h1>Obra: {{obra.nombre}}</h1>
        <h1>Compositor: {{obra.compositor}}</h1>
    </div>

</div>

<div *ngIf="cargando" class="progress" role="progressbar" aria-label="Basic example" [attr.aria-valuenow]="progreso" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" [style.width.%]="progreso"></div>
</div>

<div class="row" *ngIf="obra">
    <div class="table-responsive">
        <table class="table align-middle table-hover" *ngIf="obra.partituras.length > 0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Instrumento</th>
                    <th scope="col">Acciones</th>
                    <th scope="col">Acciones</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let partitura of obra.partituras">
                    <th>{{partitura.idPartitura}}</th>
                    <th>{{partitura.instrumento}}</th>
                    <th>
                        <button type="submit" class="btn btn-primary" (click)='viewPartitura(partitura.idPartitura)'
                            data-bs-toggle="modal" data-bs-target="#vistaPrevia">VistaPrevia</button>
                    </th>
                    <th>
                        <button type="submit" class="btn btn-primary"
                            [routerLink]="['/admin/user/form',partitura.idPartitura]">Editar</button>
                    </th>
                    <th>
                        <button type="submit" class="btn btn-danger"
                            (click)='eliminarPartitura(partitura)'>Eliminar</button>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <input placeholder="Instrumento" type="text" class="form-control" id="instrumento"
                                    name="instrumento" [(ngModel)]="partitura.instrumento">
                                <label for="instrumento">Instrumento</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="mb-3">
                                <label for="formFilePDF" class="form-label">Seleccionar partitura PDF</label>
                                <input class="form-control" type="file" id="partituraPDF" name="partituraPDF"
                                    (change)="handleFileInput($event)" accept=".pdf, application/pdf">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)='crearInstrumento()'>Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <input placeholder="Instrumento" type="text" class="form-control" id="instrumento"
                                    name="instrumento" [(ngModel)]="partitura.instrumento">
                                <label for="instrumento">Instrumento</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="mb-3">
                                <label for="formFilePDF" class="form-label">Seleccionar partitura PDF</label>
                                <input class="form-control" type="file" id="partituraPDF" name="partituraPDF"
                                    (change)="handleFileInput($event)" accept=".pdf, application/pdf">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)='crearInstrumento()'>Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="vistaPrevia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="vistaPreviaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="vistaPreviaLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div *ngIf="pdfUrl">
                                <embed [src]="pdfUrl" type="application/pdf" width="100%" height="600px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>