<form #formulario="ngForm">
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input placeholder="Nombre" type="text" class="form-control" id="nombre" name="nombre"
          [(ngModel)]="obra.nombre">
        <label for="nombre">Nombre</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating">
        <input placeholder="Compositor" type="text" class="form-control" id="compositor" name="compositor"
          [(ngModel)]="obra.compositor">
        <label for="compositor">Compositor</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating">
        <input placeholder="Arreglista" type="text" class="form-control" id="arreglista" name="arreglista"
          [(ngModel)]="obra.arreglista">
        <label for="arreglista">Arreglista</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">

      <div class="form-floating">
        <input placeholder="Letrista" type="text" class="form-control" id="letrista" name="letrista"
          [(ngModel)]="obra.letrista">
        <label for="letrista">Letrista</label>
      </div>
    </div>

    <div class="col">
      <div class="form-floating">
        <input placeholder="Genero" type="text" class="form-control" id="genero" name="genero"
          [(ngModel)]="obra.genero">
        <label for="genero">Genero</label>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <span class="input-group-text">$</span>
        <div class="form-floating">
          <input placeholder="Precio" type="text" class="form-control" id="precio" name="precio"
            [(ngModel)]="obra.precio">
          <label for="precio">Precio</label>
        </div>
        <span class="input-group-text">.00</span>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <textarea class="form-control" placeholder="URL Audio" id="embedAudio" name="embedAudio"
          [(ngModel)]="obra.embedAudio" style="height: 100px"></textarea>
        <label for="embedAudio">URL Audio</label>
      </div>
    </div>
    <div class="col">

      <div class="form-floating">
        <textarea class="form-control" placeholder="URL Video" id="embedVideo" name="embedVideo"
          [(ngModel)]="obra.embedVideo" style="height: 100px"></textarea>
        <label for="embedVideo">URL Video</label>
      </div>
    </div>
  </div>

</form>

<form #formulario="ngForm">
  <div class="row">

    <div class="col">

      <div class="mb-3">
        <label for="formFile" class="form-label">Seleccionar archivo de audio</label>
        <input class="form-control" type="file" id="audio" name="audio" (change)="handleFileInput($event)" accept="audio/*">
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <button type="submit" class="btn btn-success" (click)='crearObra()'
      *ngIf="!obra.idObra; else elseBlock">Crear</button>
    <ng-template #elseBlock>
      <button type="submit" class="btn btn-primary" (click)='actualizarObra()'>Actualizar</button>
    </ng-template>
  </div>
</div>