<p>paciente.component.html</p>

<div class="row">
  <h1>Pacientes</h1>
</div>

<div class="row">
  <div class="col">
    <button class="btn btn-rounded btn-success btn-lg" type="button" [routerLink]="['/home/paciente/form']"><i
        class="fas fa-user-plus"></i> Nuevo Paciente
    </button>
  </div>
  <div class="col text-center">
    <nav aria-label="Page navigation example">
      <div class="pagination justify-content-center">
        <button class="page-item page-link" *ngIf="currentPage > 0" (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 0">&laquo;</button>
        <button class="page-item page-link" (click)="onPageChange(0)" [disabled]="currentPage === 0">1</button>
        <button class="page-item page-link" *ngIf="currentPage > 0" (click)="onPageChange(currentPage - 1)"
          [disabled]="true">{{currentPage+1}}</button>
        <button class="page-item page-link" *ngIf="(currentPage+1) < (page?.totalPages ?? 0)"
          (click)="onPageChange((page?.totalPages ?? 1) -1)"
          [disabled]="currentPage+1 === page?.totalPages">{{page?.totalPages ?? 1 -1}}</button>
        <button class="page-item page-link" *ngIf="(currentPage+1) < (page?.totalPages ?? 0)"
          (click)="onPageChange(currentPage + 1)" [disabled]="currentPage+1 === page?.totalPages">&raquo;</button>
      </div>
    </nav>

  </div>
  <div class="col">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search"
        [formControl]="searchControl" ngDefaultControl="">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
    </form>
  </div>
</div>

<div class="row">
  <div class="table-responsive">
    <table class="table  align-middle table-hover" *ngIf="pacientes.length > 0">
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Celular</th>
          <th>Direccion</th>
          <th>Edad Calculada</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let paciente of pacientes">
          <th>{{paciente.nombres}} {{paciente.primerApellido}} {{paciente.segundoApellido}}</th>
          <th>{{paciente.celular}}</th>
          <th>{{paciente.direccion}}</th>
          <th>{{paciente.edadCalculada}}</th>
          <th>
            <a type="submit" class="btn btn-primary btn-lg" [routerLink]="['/home/consulta/find',paciente.idPaciente]">
              <i class="fa-solid fa-eye"></i> Expediente</a>
            <a type="submit" class="btn btn-warning btn-lg"
              [routerLink]="['/home/consulta/form',paciente.idPaciente]"><i class="fa-solid fa-file-circle-plus"></i>
              Nuevo
              Examen</a>
            <a type="submit" class="btn btn-success btn-lg"
              [routerLink]="['/home/paciente/form',paciente.idPaciente]"><i class="fas fa-user-edit"></i> Editar</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <p>Footer</p>
</div>