<div class="container">
  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/admin']">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menucollapsenavbar"
        aria-controls="menucollapsenavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menucollapsenavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['/admin']">Inicio</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" [routerLink]="['/admin/rol']">Roles</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" [routerLink]="['/admin/user']">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/obra">Obras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/partitura">Partituras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/shopcart">ShopCart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menú
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>