<form #formulario="ngForm">
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <input placeholder="Username" type="text" class="form-control" id="username" name="username"
                    [(ngModel)]="usuario.username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input placeholder="Password" type="password" class="form-control" id="password" name="password"
                    [(ngModel)]="usuario.password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                <input placeholder="Nombres" type="text" class="form-control" id="nombres" name="nombres"
                    [(ngModel)]="usuario.nombres">
                <label for="nombres">Nombres</label>
            </div>
            <div class="form-floating">
                <input placeholder="Apellido Paterno" type="text" class="form-control" id="apellidoPaterno"
                    name="apellidoPaterno" [(ngModel)]="usuario.primerApellido">
                <label for="apellidoPaterno">Apellido Paterno</label>
            </div>
            <div class="form-floating">
                <input placeholder="Apellido Materno" type="text" class="form-control" id="apellidoMaterno"
                    name="apellidoMaterno" [(ngModel)]="usuario.segundoApellido">
                <label for="apellidoMaterno">Apellido Materno</label>
            </div>
            <div class="form-floating">
                <input placeholder="Email" type="text" class="form-control" id="email" name="email"
                    [(ngModel)]="usuario.email">
                <label for="email">Email</label>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="imagen" name="imagen" (change)="handleFileInput($event)">
            </div>
        </div>
        <div class="col">
            <div class="">
                <select class="form-select" multiple aria-label="Multiple select example" *ngIf="roles.length > 0"
                    (change)="onSelectChange($event)">
                    <option *ngFor="let rol of roles" [value]="rol.id">{{rol.rol}}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success" (click)='crearUsuarioFormData()'
            *ngIf="!usuario.idUsuario; else elseBlock">Crear</button>
        <ng-template #elseBlock>
            <button type="submit" class="btn btn-primary" (click)='actualizarUsuarioFormData()'>Actualizar</button>
        </ng-template>
    </div>
</form>