<div class="row">
    <div class="row">
      <h1>Usuarios de Sistema</h1>
  
    </div>
    <div class="row">
      <div>
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/admin/user/form']">Nuevo Usuario</button>
      </div>
  
    </div>
    <div class="row">
  
      <table class="table table-hover" *ngIf="usuarios.length > 0">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Nombres</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Estatus</th>
            <th scope="col">Roles</th>
            <th scope="col">Creado</th>
            <th scope="col">Modificado</th>
            <th scope="col">CreadoPor</th>
            <th scope="col">ModificadoPor</th>
            <th scope="col">Acciones</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let usuario of usuarios">
            <th>{{usuario.username}}</th>
            <th>{{usuario.nombres}}</th>
            <th>{{usuario.primerApellido}}</th>
            <th>{{usuario.segundoApellido}}</th>
            <th>{{usuario.email}}</th>
            <th *ngIf="usuario.estatus; else elseBlock">Activo</th>
            <ng-template #elseBlock>
              <th>Bloqueado</th>
            </ng-template>
            <th>
              <div class="row" *ngFor="let rol of usuario.roles">{{rol.rol}}</div>
            </th>
            <th>{{usuario.createdAt}}</th>
            <th>{{usuario.modifiedAt}}</th>
            <th>{{usuario.createdBy}}</th>
            <th>{{usuario.modifiedBy}}</th>
            <th>
              <button type="submit" class="btn btn-primary" [routerLink]="['/admin/user/form',usuario.idUsuario]">Editar</button>
            </th>
            <th>
              <button type="submit" class="btn btn-danger" (click)='eliminarUsuario(usuario)'>Eliminar</button>
            </th>
          </tr>
        </tbody>
      </table>
  
    </div>
  
  </div>