<p>ticket.component.html</p>

<div class="row">
    <div class="col" id="ticket">
        <h1>Nombre del Comercio</h1>
        <h1>Dirección del Comercio</h1>
        <h1>Teléfono del Comercio</h1>
        <hr>
        <h1><strong>Fecha:</strong> {{ currentDate }}</h1>
        <h1><strong>Cliente:</strong> {{ customerName }}</h1>
        <hr>
        <div *ngFor="let item of items">
            <h1>{{ item.name }} - {{ item.price }}</h1>
        </div>
        <hr>
        <h1><strong>Total:</strong> {{ total }}</h1>
        <hr>
        <h1>¡Gracias por su compra!</h1>
    </div>
</div>